@model HealthAtHome.ViewModels.LoggedInUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Welcome @Model.UserName</h1>



@foreach (var routine in Model.RoutineNames)
{
    <h3>@routine.Name</h3>
    <a href="https://localhost:44378/routine/@routine.ID">View Routine</a>
}