@model HealthAtHome.ViewModels.LoggedInUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Styles/HomeLayout.css" type="text/css" />
<video autoplay muted loop id="backgroundVideo">
    <source src="~/Assets/dbellvideo.mp4" type="video/mp4" />
</video>

<h1>Health At Home</h1>

<section class="login-form">
    <form asp-action="LogInUser" asp-controller="Home" method="get">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" />
        <button type="submit">Log In</button>
    </form>
</section>

<section class="register-form">
    <form asp-action="RegisterUser" asp-controller="Home" method="post">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" />
        <button type="submit">Register</button>
    </form>
</section>

    <div class="">
        <div class="hero-text">
            <p>
                Ready to work out at Home?  No gym required!<br />
                Not able to get to the gym, but still would like a workout you can do at home? <br />Health at home has you covered! A complete workout with routines that target each region of the body are included.<br /> There are also routines for yoga and stretching. Health at Home allows you to create a user profile to rate your routines as well.<br />
                Working out at home can be easily accomplished using your body weight for some exercises. For those exercises that require weights, consider using common household items:<br />
                Gallon of milk: 8 lbs<br />
                Half-gallon of milk or orange juice: 4 lbs<br />
                Can of soup or beans: 1 lb<br />
                8oz Water bottle: 1 ½ lbs <br />
                Laundry basket: depending what you put in it, it can be heavy or light. It makes a good barbell for deadlifts, good mornings and other lower body exercises.
            </p>
        </div>
    </div>