@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Hello World!</h1>

<p>This is our dummy text, being rendered inside of our <code>_HomeLayout.cshtml</code> file!</p>



<form asp-action="Index" asp-controller="Home" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <button type="submit">Submit</button>
</form>