@model HealthAtHome.ViewModels.LoggedInUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Health At Home</h1>

<section class="login-form">
    <form asp-action="LogInUser" asp-controller="Home" method="get">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" />
        <button type="submit">Log In</button>
    </form>
</section>

<section class="register-form">
    <form asp-action="RegisterUser" asp-controller="Home" method="post">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" />
        <button type="submit">Register</button>
    </form>
</section>