@model HealthAtHome.ViewModels.LoggedInUser

@{
    ViewData["Title"] = "LoginError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Health At Home</h1>

<section class="login-form">
    @if (Model.ErrorFlag == true)
    {
        <p class="error">@Model.Errors[0]</p>
    }

    <form asp-action="LogInUser" asp-controller="Home" method="get">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" />
        <button type="submit">Log In</button>
    </form>
</section>

