@model HealthAtHome.ViewModels.LoggedInUser
@{
    ViewData["Title"] = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Welcome to favorites @Model.UserName!</h1>
<p>Your ID is: @Model.ID</p>

